@import './var/color.less';

// head
.dark-theme {
  #head {
    a {
      color: var(--ls-primary-text-color);
    }
  }
}

// block
.ls-block {
  border-bottom-width: 4px;
}

// priority
a.priority {
  visibility: hidden;
  font-size: 0;
  &::before {
    display: inline-block;
    height: 20px;
    padding-left: 22px;
    visibility: visible;
    content: "A";
    font-size: 16px;
    background-image: url('./assets/high_priority.png');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
  }
}

a.priority[href="#/page/B"]::before {
  content: "B";
  background-image: url('./assets/medium_priority.png');
}
a.priority[href="#/page/C"]::before {
  content: "C";
  background-image: url('./assets/low_priority.png');
}

// links
.external-link::before {
  content: "🔗";
  margin-right: 4px;
}

// highlight
mark {
  background: transparent;
  color: inherit;
  font-size: inherit;
  text-decoration-style: solid;
  text-decoration: underline;
  text-decoration-color: fade(@yellow-500, 80%);
  text-decoration-thickness: 10px;
  text-underline-offset: -8px;
  text-decoration-skip-ink: none;
}

// bullet guide line
.block-children-left-border {
  &:hover {
    background-color: var(--ls-guideline-hover-color);
  }
}

// button
.dark-theme {
  .bg-indigo-600 {
    background-color: fade(@yellow-600, 80%);
  }
  .hover\:bg-indigo-700:hover {
    background-color: @yellow-700;
  }
}
.white-theme {
  .bg-indigo-600 {
    background-color: fade(@green-600, 80%);
  }
  .hover\:bg-indigo-700:hover {
    background-color: @green-700;
  }
}